
@{
    ViewBag.Title = "Home";
}

<div class="img-slider">
    <div class="wrap">
        <ul id="jquery-demo">
            <li>
                <a href="#slide1">
                    <img src="~/Content/Images/slide-1.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                    <span>Stay true to your team all day, every day, game day.</span>
                    <a class="slide-btn" href="/home/index"> Shop Now</a>
                </div>
            </li>
            <li>
                <a href="#slide2">
                    <img src="~/Content/Images/slide-4.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                    <span>Stay true to your team all day, every day, game day.</span>
                    <a class="slide-btn" href="/home/index"> Shop Now</a>
                </div>
            </li>
            <li>
                <a href="#slide3">
                    <img src="~/Content/Images/slide-1.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                    <span>Stay true to your team all day, every day, game day.</span>
                    <a class="slide-btn" href="/home/index"> Shop Now</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"> </div>
<!----//End-image-slider---->
<!----start-price-rage--->
<div class="wrap">
    <div class="price-rage">
        <h3>Weekly selection:</h3>
        <div id="slider-range">
        </div>
    </div>
</div>
<!----//End-price-rage--->
<!--- start-content---->
<div class="content">
    <div class="wrap">
        <div class="content-left">
            <div class="content-left-top-grid">
                <div class="content-left-price-selection">
                    <h4>Select Price:</h4>
                    <div class="price-selection-tree">
                        <span class="col_checkbox">
                            <input id="10" class="css-checkbox10" type="checkbox">
                            <label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i> 400</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="11" class="css-checkbox11" type="checkbox">
                            <label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="12" class="css-checkbox12" type="checkbox">
                            <label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="13" class="css-checkbox13" type="checkbox">
                            <label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="14" class="css-checkbox14" type="checkbox">
                            <label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="15" class="css-checkbox15" type="checkbox">
                            <label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
                        </span>
                    </div>

                </div>
            </div>
            <div class="content-left-bottom-grid">
                <h4>Boys Football:</h4>
                <div class="content-left-bottom-grids">
                    <div class="content-left-bottom-grid1">
                        <img src="~/Content/Images/foot-ball.jpg" title="football" />
                        <h5><a href="/home/index">Nike Strike PL Hi-Vis</a></h5>
                        <span> Football</span>
                        <label>&#163; 375</label>
                    </div>
                    <div class="content-left-bottom-grid1">
                        <img src="~/Content/Images/jarse.jpg" title="jarse" />
                        <h5><a href="/home/index">Nike Strike PL Hi-Vis</a></h5>
                        <span> Football</span>
                        <label>&#163; 375</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="product-grids">
                <!--- start-rate---->
                <script src="~/scripts/jstarbox.js"></script>
                <link rel="stylesheet" href="~/Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                <script type="text/javascript">
								jQuery(function() {
									jQuery('.starbox').each(function() {
										var starbox = jQuery(this);
										starbox.starbox({
											average: starbox.attr('data-start-value'),
											changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
											ghosting: starbox.hasClass('ghosting'),
											autoUpdateAverage: starbox.hasClass('autoupdate'),
											buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
											stars: starbox.attr('data-star-count') || 5
										}).bind('starbox-value-changed', function(event, value) {
											if(starbox.hasClass('random')) {
												var val = Math.random();
												starbox.next().text(' '+val);
												return val;
											}
										})
									});
								});
                </script>
                <!---//End-rate---->
                <!---caption-script---->
                <!---//caption-script---->
                <div onclick="location.href='/home/index';" class="product-grid fade">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product2.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 380</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div onclick="location.href='/home/index';" class="product-grid fade">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="/Account/Login"><span> </span></a></li>
                            <li><a class="twitter" href="/Account/Login"><span> </span></a></li>
                            <li><a class="googlep" href="/Account/Login"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product1.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 375</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div onclick="location.href='/home/index';" class="product-grid fade last-grid">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product3.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 350</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div onclick="location.href='/home/index';" class="product-grid fade">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product4.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 370</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div onclick="location.href='/home/index';" class="product-grid fade">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product5.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 355</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div onclick="location.href='/home/index';" class="product-grid fade last-grid">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> (46)</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="#"><img src="~/Content/Images/product6.jpg" title="product-name" /></a>
                        <p>
                            <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                            <span>Men's Firm-Ground Football Boot</span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="/home/index">Details</a>
                        </div>
                        <div class="product-info-price">
                            <a href="/home/index">&#163; 390</a>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<!---- start-bottom-grids---->
<div class="bottom-grids">
    <div class="bottom-top-grids">
        <div class="wrap">
            <div class="bottom-top-grid">
                <h4>GET HELP</h4>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="#">Shopping</a></li>
                    <li><a href="#">NIKEiD</a></li>
                    <li><a href="#">Nike+</a></li>
                </ul>
            </div>
            <div class="bottom-top-grid">
                <h4>ORDERS</h4>
                <ul>
                    <li><a href="#">Payment options</a></li>
                    <li><a href="#">Shipping and delivery</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="bottom-top-grid last-bottom-top-grid">
                <h4>REGISTER</h4>
                <p>Create one account to manage everything you do with Nike, from your shopping preferences to your Nike+ activity.</p>
                <a class="learn-more" href="#">Learn more</a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="bottom-bottom-grids">
        <div class="wrap">
            <div class="bottom-bottom-grid">
                <h6>EMAIL SIGN UP</h6>
                <p>Be the first to know about new products and special offers.</p>
                <a class="learn-more" href="#">Sign up now</a>
            </div>
            <div class="bottom-bottom-grid">
                <h6>GIFT CARDS</h6>
                <p>Give the gift that always fits.</p>
                <a class="learn-more" href="#">View cards</a>
            </div>
            <div class="bottom-bottom-grid last-bottom-bottom-grid">
                <h6>STORES NEAR YOU</h6>
                <p>Locate a Nike retail store or authorized retailer.</p>
                <a class="learn-more" href="#">Search</a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<!---- //End-bottom-grids---->
<!--- //End-content---->
<!---start-footer---->
<div class="footer">
    <div class="wrap">
        <div class="footer-left">
            <ul>
                <li><a href="#">United Kingdom</a> <span> </span></li>
                <li><a href="#">Terms of Use</a> <span> </span></li>
                <li><a href="#">Nike Inc.</a> <span> </span></li>
                <li><a href="#">Launch Calendar</a> <span> </span></li>
                <li><a href="#">Privacy & Cookie Policy</a> <span> </span></li>
                <li><a href="#">Cookie Settings</a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="footer-right">
            <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
            <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
            </script>
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
        </div>
        <div class="clear"> </div>
    </div>
</div>