@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{


    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("0", "Home", "Index", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        

    </ul>

}
else
{

}
