@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <div class="top-header-left">
        <ul>

            <li>@Html.ActionLink("0", "Home", "Index", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>


        </ul>
        </div>

        }
        else
        {

        }
